:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --primary-color: #333333;
  --secondary-color: #1a1a1a;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

/* Container override */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Custom Utilities - مصححة */
@layer components {
  .btn-primary {
    @apply bg-customBlack text-white px-6 py-2 rounded hover:bg-primary-600 transition-colors;
  }

  .btn-secondary {
    @apply border border-customBlack text-customBlack px-6 py-2 rounded hover:bg-customBlack hover:text-white transition-colors;
  }
  .bg-custom {
    @apply bg-customBlack;
  }

  .text-custom {
    @apply text-customBlack;
  }

  .border-custom {
    @apply border-customBlack;
  }
}
